/* General body styling */
body {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  flex-direction: column; /* Stack items vertically */
  height: 100vh; /* Make sure body takes the full viewport height */
  margin: 0; /* Remove default margin */
}


h2 {
  font-family: MONTSERRAT, sans-serif;
  font-size: 30px;
  color: rgb(205, 11, 11);
  margin: 20px 0; /* Vertical margin */
}


/* Container styling for the buttons */
.button-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  /* Enhanced shadow for the div */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;
}

/* Styling for individual buttons */
.button {
  font-family: MONTSERRAT, sans-serif;
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  width: 250px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #f02d0f;
}

/* Focus effect to indicate the selected button */
.button:focus {
  outline: none;
  background-color: #3e8e41;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .button {
    width: 80%;
    padding: 12px 20px;
  }
}

